{
  "swagger": "2.0",
  "info": {
    "version": "2021.1",
    "title": "Lessonly API"
  },
  "schemes": [
    "https"
  ],
  "host": "api.lessonly.com",
  "basePath": "/api",
  "paths": {
    "/v1/groups": {
      "get": {
        "operationId": "groupsGet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/groupsGet"
            }
          }
        }
      }
    },
    "/v1.1/assignments": {
      "get": {
        "operationId": "assignmentsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/assignmentsGet"
            }
          }
        }
      }
    },
    "/v1.1/lessons": {
      "get": {
        "operationId": "lessonsGet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/lessonsGet"
            }
          }
        }
      }
    },
    "/v1.1/users": {
      "get": {
        "operationId": "usersGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/usersGet"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "definitions": {
    "usersGet##users##custom_user_field_data": {
      "type": "object",
      "properties": {
        "custom_user_field_id": {
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "usersGet##users": {
      "type": "object",
      "properties": {
        "archived_at": {
          "type": "string"
        },
        "archived_by_user_id": {
          "type": "integer"
        },
        "business_unit": {
          "type": "string"
        },
        "custom_user_field_data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/usersGet##users##custom_user_field_data"
          }
        },
        "department": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "ext_uid": {
          "type": "string"
        },
        "groups": {
          "type": "object",
          "properties": {
            "member": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            },
            "manager": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "hire_date": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "job_title": {
          "type": "string"
        },
        "locale": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "manager_name": {
          "type": "string"
        },
        "mobile_phone_number": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource_type": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "role_id": {
          "type": "integer"
        }
      }
    },
    "usersGet": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer"
        },
        "per_page": {
          "type": "integer"
        },
        "total_pages": {
          "type": "integer"
        },
        "total_users": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/usersGet##users"
          }
        }
      }
    },
    "groupsGet##groups": {
      "type": "object",
      "properties": {
        "archived_at": {
          "type": "string"
        },
        "archived_by_user_id": {
          "type": "integer"
        },
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "groupsGet": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/groupsGet##groups"
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "assignmentsGet##assignments": {
      "type": "object",
      "required": [
        "id",
        "updated_at"
      ],
      "properties": {
        "assignable_id": {
          "type": "integer"
        },
        "assignable_type": {
          "type": "string"
        },
        "assigned_at": {
          "type": "string"
        },
        "assignee_id": {
          "type": "integer"
        },
        "completed_at": {
          "type": "string"
        },
        "due_by": {
          "type": "string"
        },
        "ext_uid": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "reassigned_at": {
          "type": "string"
        },
        "resource_type": {
          "type": "string"
        },
        "score": {
          "type": "integer"
        },
        "started_at": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      }
    },
    "assignmentsGet": {
      "type": "object",
      "properties": {
        "assignments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/assignmentsGet##assignments"
          }
        },
        "page": {
          "type": "integer"
        },
        "per_page": {
          "type": "integer"
        },
        "total_assignments": {
          "type": "integer"
        },
        "total_pages": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "lessonsGet##lessons##tags": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "resource_type": {
          "type": "string"
        }
      }
    },
    "lessonsGet##lessons": {
      "type": "object",
      "properties": {
        "archived_at": {
          "type": "string"
        },
        "archived_by_user_id": {
          "type": "integer"
        },
        "created_at": {
          "type": "string"
        },
        "id": {
          "type": "integer"
        },
        "last_updated_at": {
          "type": "string"
        },
        "links": {
          "type": "object",
          "properties": {
            "overview": {
              "type": "string"
            },
            "shareable": {
              "type": "string"
            }
          }
        },
        "public": {
          "type": "boolean"
        },
        "resource_type": {
          "type": "string"
        },
        "retake_score": {
          "type": "integer"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/lessonsGet##lessons##tags"
          }
        },
        "title": {
          "type": "string"
        }
      }
    },
    "lessonsGet": {
      "type": "object",
      "properties": {
        "lessons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/lessonsGet##lessons"
          }
        },
        "type": {
          "type": "string"
        }
      }
    }
  }
}
